@model WeConnect.ViewModels.ConversationViewModel
@{
    ViewData["Title"] = "Chat";
}

<div id="mySidenav" class="sidenav">
    <a href="/Account/Index" id="mypage"><img src="https://i.imgur.com/ZKWyvlp.png" id="icon"><br>My Page</a>
    <a href="/Account/myfriends" id="myfriends">My Friends</a>
    <a href="/Chat/Index" id="myconversations">My Conversations</a>
    <a href="/Account/mymeetings" id="mymeetings">My Meetings</a>
</div>

<div id="myRightSidenav" class="rightsidenav">
    <a href="/Account/search" id="search">Search</a>
    <a href="/Account/signout" id="signout">Sign out</a>
</div>

<form method="post" asp-action="SendMessage">
    <div class="chat-window">
        @foreach (var item in Model.Messages)
        {
            <div class="@((item.SenderId == Model.MyViewModel.Id) ? "darker" : "chatcontainer")">
                <img src="https://icons.veryicon.com/png/o/miscellaneous/basic-icon/message-54.png" alt="Avatar">
                <p>@item.Sender</p>
                <p>@item.Content</p>
                <span class="time-right">@item.DateCreated</span>
            </div>
        }
        <input type="hidden" name="conversationId" value="@Model.ID" />
        <textarea placeholder="Type message.." name="Content" required></textarea>
        <button type="submit" class="btn">Send</button>
    </div>
</form>

<script>
    window.onload = function () {
        var chatWindow = document.querySelector(".chat-window");
        chatWindow.scrollTop = chatWindow.scrollHeight;
    }
</script>



