@model WeConnect.ViewModels.MyViewModel
@{
  ViewData["Title"] = "My Page";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<div id="mySidenav" class="sidenav">
  <a href="/Account/myfriends" id="myfriends">My Friends</a>
  <a href="/Chat/Index" id="myconversations">My Conversations</a>
  <a href="/Account/mymeetings" id="mymeetings">My Meetings</a>
</div>
<div id="myRightSidenav" class="rightsidenav">
  <a href="/Account/search" id="search">Search</a>
  <a href="/Account/signout" id="signout">Sign out</a>
</div>

<div class="dropdown">
  <a href class="dropbtn-hoots">
    <img src="https://i.imgur.com/uOiQs93.png" id="icon">
    <br>Hoots
    @if (@Model.Notifications.Count > 0)
    {
      <span class="badge">@Model.Notifications.Count</span>
    }
  </a>

  <div class="dropdown-content">
    @foreach (var item in @Model.Notifications)
    {
      <a href="#">@item.FromUser @item.Description</a>
    }
  </div>
</div>

<div class="dropdown">
  <a href class="dropbtn-messages">
    <img src="https://i.imgur.com/owyd8BQ.png" id="icon">
    <br>Messages
    @if (@Model.Conversations.Count > 0)
    {
      <span class="badge">@Model.Conversations.Count</span>
    }
  </a>
  <div class="dropdown-content">
    @foreach (var item in @Model.Conversations)
    {
      <a asp-controller="Chat" asp-action="ViewConversation" asp-route-id="@item.ID"> @item.ParticipantsNames</a>
    }
  </div>
</div>

<div class="profileContainer">
  <div id="myProfileHeader">
    @if (Model.ProfilePhoto.ImageUrl == null)
    {
      <img src="https://i.imgur.com/ZV3o91c.jpg" id="profilePhoto">
    }
    else
    {
      <img src="@Html.Raw(Model.ProfilePhoto.ImageUrl)" id="profilePhoto">
    }
    <h2 class="profileNameTitle" <span>
        @Model.FirstName @Model.LastName
      </span></h2>
  </div>
  <div>
    <a href="/Edit/Profile" id="links">Edit</a>
    <div class="aboutMe"></div>
    <p>Gender: @Model.Gender</p>
    <p>About me: @Model.AboutMe</p>
  </div>

</div>



<script>
  $(document).ready(function () {
    $(".dropbtn-hoots").click(function (e) {
      e.preventDefault();

      // Skicka POST-förfrågan och avsluta direkt
      $.post("/Account/MarkNotificationsAsRead", function () {
        // Denna funktion körs när servern har behandlat POST-förfrågan
        // Gör ingenting här
      });
    });
  });
</script>




